<h1>Basic</h1>
<form>
  <label for="basicTitle">title</label>
  <input id="basicTitle" class="form-control" [value]="title" (input)="title = $event.target.value">

  <label for="basicCount">count</label>
  <input id="basicCount" type="number" min="1" max="{{MaxCount}}" class="form-control" [value]="count" (input)="onCountChange($event)">

  <div *ngFor="let player of players" [hidden]="!player.enable">
    <label attr.for="basicPlayer{{player.id}}">{{player.id+1}}</label>
    <input id="basicPlayer{{player.id}}" type="text" class="form-control" [value]="player.name" (input)="player.name = $event.target.value">
  </div>

</form>
